/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework
/storage/logs
.env
.env.*     # Ignora .env.backup, .env.production, etc.
.phpunit.result.cache
.phpunit.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log

/.vscode
/.idea
/.fleet
/.nova
/.zed
.phpactor.json
/auth.json

/public/hot
/public/build

.DS_Store
Thumbs.db
